# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Environment variables
.env

# Logs
logs/
*.log
logs/*.log
debug.log
error.log

# Sequelize files
sequelize-meta.json
.sequelize/

# IDE y sistema operativo
.DS_Store
.vscode/
.idea/
Thumbs.db

