.user-list-container {
    text-align: center;
    margin-top: 100px;
    /* Baja la tabla */
}
 
.user-table {
    width: 80%;
    margin: 10px auto;
    /* Centra la tabla */
    border-collapse: collapse;
}

.user-table th,
.user-table td {
    border: 1px solid #ddd;
    padding: 3px;
    text-align: left;
}

.user-table th {
    background-color: #191a1a;
    color: white;
}

.user-table tr:nth-child(even) {
    background-color: #f2f2f2;
}